@import url(https://fonts.bunny.net/css?family=besley:400,700|inter:300,700);

body {
    color: var(--dark5);
    background-color: var(--light2);

    font-family: "Inter", sans-serif;
    line-height: 1.5;
    margin: auto;
    padding: 1rem;
    max-width: 768px;
}

header {
    border-bottom: 1px solid #222;
    margin-bottom: 1rem;
}

header ul {
    display: inline-flex;
}

header ul li:first-child,
ul.tags li:first-child {
    list-style-type: none;
}

header ul li:not(:first-child),
ul.tags li:not(:first-child) {
    margin-left: 24px;
}

ul.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    border-top: 1px solid #222;
    margin-top: 1rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

article {
    font-family: Besley, sans-serif;
}

article img {
    display: block;
    margin: auto;
    border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background-color: #222;
    }

    a {
        color: #59f;
    }

    header {
        border-bottom-color: #aaa;
    }
}

header h1,
header nav {
    display: block;
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}

header nav ul {
    padding: 0;
}
